<doctype html="">
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>

<h1>Patient Info</h1>


<table style = " border: 1px solid black">
    <thead>
    <tr>
        <th>UiD</th>
        <th>Address</th>
        <th>City</th>
        <th>Province</th>
        <th>fName</th>
        <th>mName</th>
        <th>lName</th>
        <th>DateOfBirth</th>
        <th>Gender</th>
        <th>Email</th>
        <th>SSN</th>
    </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[8]}}</td>
                <td>{{row[9]}}</td>
                <td>{{row[10]}}</td>
                <td>{{row[11]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>